.mainContainer {
  color: black;
}

.currentContainer {
  color: black;
}

.previousContainer {
  color: black;
}

.weatherCard {
  border: black 1px solid;
}

.weatherContainer {
  display: grid;
  width: 80%;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  justify-items: center;
}